name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: namespace-profile-pox
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
        env:
          zts: '1'

      - name: Configure Rust cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: |
            rust

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
